*{
    margin: 0;
}

a.button {
    padding: 5px 10px;
    font-weight: 700;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    background-color: rgb(16, 76, 16);
    text-decoration: none;
    font-size: 50px;
    margin-top: 100px;
 

}
.head{
    height: 100px;
    width: auto;
    background-color: rgb(16, 76, 16);
    padding-left: 20px;
    padding-top: 20px;
} 
.container{
    margin-left: 15%;
    background-color: rgb(255, 255, 255);
    border: 5px solid rgb(208, 208, 208);
    border-top-width: 0;
    border-bottom-width: 0;
    width: 70%;
    height: 650px;
    text-align: center;
    font-size: 30px;
    padding-top: 5%;
   
}
.text{
    width: 50%;
    padding-left: 25%;
}
/* body{
    overflow: hidden;
} */
footer{
    width: 100%;
    height: 190px;
    background-color: rgb(73, 73, 73);
    color: white;
    font-size: 20px;
    position: absolute;
    margin-top: -100px;
    padding: 10px 20px;
}
